<div class="container">
  <mat-form-field>
    <mat-label>Search...</mat-label>
    <input type="text" matInput [formControl]="searchFormControl">
  </mat-form-field>
  <button mat-raised-button style="margin-left:15px;z-index:0;" (click)="filterCAFFs()">Search</button>
  <mat-grid-list cols="4" rowHeight="1:1">

    <mat-grid-tile *ngFor="let caff of caffs" routerLink ="/details/{{caff.id}}">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{caff.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image style="height: inherit; width: inherit; border: solid 1px grey; " src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
</div>
